 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');



 *{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand ';
}
body {                      
    background-image: url('back.png');
    background-size: cover; /* Ajusta la imagen al tamaño de la ventana del navegador */
    background-attachment: fixed; /* Fija la imagen en su lugar para que se extienda detrás de todo el contenido */
    background-position: center center; /* Centra la imagen en la pantalla */
}



html{
    scroll-behavior: smooth;

}

#Inicio {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    color: #fff; /* Cambiado a blanco para mejorar la legibilidad */
    flex-wrap: wrap;
    justify-content: space-between;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 50px;
}


#Inicio > * {
    flex: 0 0 calc(33.33% - 20px);
    margin-right: 20px;
}

/* Elimina el margen derecho del último elemento para evitar desbordamiento */
#Inicio > *:last-child {
    margin-right: 0;
}

#inicio header {
    width: 100%;
    background-color: #32a6e0;
}

#inicio header .contenido-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#inicio header .contenido-header .logo {
    display: flex;
    align-items: center;
}

#inicio header .contenido-header .logo img {
    max-width: 200px;
    height: auto;
    margin-right: 20px; /* Reduzco el margen derecho para dar más espacio al texto */
}

#inicio header .contenido-header .logo h1 {
    color: #fff;
    font-size: 30px;
    margin: 0;
}

#inicio header .contenido-header nav {
    display: flex;
    align-items: center;
}

#inicio header .contenido-header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin-left: 20px; /* Agregar margen izquierdo para separar los elementos de navegación del texto */
}

#inicio header .contenido-header nav ul li {
    text-align: center;
    margin: 0 10px;
}

#inicio header .contenido-header nav ul li i {
    display: block;
    color: #481580;
}

#inicio header .contenido-header nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: #481580;
    margin: 0 10px;
}

/* Estilos para la barra de navegación responsive */
.nav-responsive {
    font-size: 25px;
    color: #000000;
    display: none;
}

#inicio header .contenido-header nav ul li:hover i {
    color: #fff;
}

#inicio header .contenido-header .social a {
    display: inline-block;
    background-color: #f35b23;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 30px;
    margin-right: 10px;
}
.nosotros {
    display: flex;
    justify-content: space-between; /* Separa las imágenes horizontalmente */
    align-items: center; /* Centra verticalmente las imágenes */
    margin: 20px 0; /* Añade un espacio entre las imágenes */
}

.imagen {
    width: 50%; /* Ajusta el ancho de las imágenes según tus necesidades */
}
   
#contenido-nosotros {
    font-size: 24px; /* Cambia el tamaño de fuente según tus preferencias */
    line-height: 1.5; /* Ajusta el espaciado entre líneas si es necesario */
}

#contenido-nosotros h2 {
    font-size: 32px; /* Cambia el tamaño del encabezado h2 si es necesario */
}

#contenido-nosotros h3 {
    font-size: 28px; /* Cambia el tamaño del encabezado h3 si es necesario */
}
#contenido-nosotros2 {
    font-size: 24px; /* Cambia el tamaño de fuente según tus preferencias */
    line-height: 1.5; /* Ajusta el espaciado entre líneas si es necesario */
}

#contenido-nosotros2 h2 {
    font-size: 32px; /* Cambia el tamaño del encabezado h2 si es necesario */
}

#contenido-nosotros2 h3 {
    font-size: 28px; /* Cambia el tamaño del encabezado h3 si es necesario */
}